:root {
    --wine-red: #C7375F;
    --bright-red: #D42D2F;
    --dark-green: #344D2F;
    --light-green: #77A047;
    --gold: #FAC57D;
    --snow: #F0F4F7;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: var(--dark-green);
    background-color: var(--snow);
}

h1 {
    color: var(--bright-red);
}

.container,
.list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list {
    margin: 0 1em 1em;
    flex-direction: column;
    width: 200px;
    height: 200px;
    padding: 1em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    color: var(--snow);
    font-size: 30px;
    list-style-type: none;
}

.nice-list {
    background-image: url('https://images.unsplash.com/photo-1576072224016-f118dfe570e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 2px var(--dark-green);
}

.naughty-list {
    background-image: url('https://images.unsplash.com/photo-1576919228236-a097c32a5cd4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2hyaXN0bWFzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 3px 2px var(--bright-red);
}

button {
    padding: 1em 2em;
    border: none;
    font-size: 1.2rem;
    background-color: var(--gold);
    color: var(--dark-green);
    font-weight: 700;
    border-radius: 999px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

button:hover {
    cursor: pointer;
    transform: scale(1.03)
}